body {
    font-family: 'Roboto', sans-serif;
    color: var(--title-color);
    letter-spacing: 0.03em;
    font-size: 14px;
}

.link {
    text-decoration: none;
}

.list {
    list-style: none;
}

.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}
