.details {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.details__title {
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.details__text {
    line-height: 1.71;
    color: var(--text-color);
    max-width: 270px;
}


.details__icon-item {
    width: 270px;
    height: 120px;
    background: #f5f4fa;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-bottom: 30px;
}